{% include 'base.html' %}
{% block content %}
<title>{% block title %}Forms{% endblock %}</title>

<body>
    <form method="POST">
        <label for="product">Product:</label>
        <input type="text" id="product" name="product" placeholder="Enter Product Details"/>

        <label for="recipient">Recipient:</label>
        <input type="text" id="recipient" name="recipient" placeholder="Enter Recipient/Receiver"/>
        
        <label for="packageAddress">Packaging Address:</label>
        <input type="text" id="packageAddress" name="packageAddress" placeholder="Enter Recipient's Address"/>

        <button type="submit" id="submit" name="submit">Submit Form</button>
    </form>
</body>
{% endblock %}